body{
  background: url(../src/components/assets/images/body_bg.png) no-repeat;
  background-position: center;
  background-size: contain;
}

ol,ul{
  list-style: none;
}

img{
  display: block;
  width: 100%;
}
hr{
  border: 1px solid;
}